<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{!-- Header Partial injection --}}
        {{>header}}
        {{!-- Dynamic injection --}}
        <p>{{errMessage}}</p>
    </div>
    {{!-- Footer Partial injection --}}
    {{>footer}}
</body>

</html>