<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{!-- Header Partial injection --}}
        {{>header}}
        {{!-- Dynamic injection --}}
        <p>This web app was created by {{name}}</p>
        <p>the author using Mapbox and Weatherstack API to forecast the weather</p>
        <img class="portrait" src="/img/me.jpeg" alt="dave" />
    </div>
    {{!-- Footer Partial injection --}}
    {{>footer}}
</body>

</html>